@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-color: #27ae60;
    margin: 0px;
}

.header {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    display: block;
}


.flex-container {
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 10px solid green;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.card1 img {
    display: flex;
    width: 300px;
    height: 200px;
}

.card1 .text2 {
    display: none;
} 

.card1:hover .text2 {
    display: block;
}

.card1:hover .text1 {
    display: none;
}

.text2 {
font-size: 10px;
background-color: white;
border-radius: 10px;

}

.card2 img {
    display: flex;
    width: 300px;
    height: 200px;
}

.card2 .text4 {
    display: none;
} 

.card2:hover .text4 {
    display: block;
}

.card2:hover .text3 {
    display: none;
}

.text4 {
font-size: 9px;
background-color: white;
border-radius: 10px;
}

.card3 img {
    display: flex;
    width: 300px;
    height: 200px;
}

.card3 .text6 {
    display: none;
}

.card3:hover .text6 {
    display: block;
}

.card3:hover .text5 {
    display: none;
}

.text6 {
font-size: 10px;
background-color: white;
border-radius: 10px;
}

.card1, .card2, .card3 {
    transition: transform .5s; /* Animation */
  }
  
  .card1:hover, .card2:hover, .card3:hover{
    transform: scale(1.3);
  }

